@import "tailwindcss";

@theme {
  --font-size-10xl: 10rem;
  --font-size-11xl: 11rem;
  --font-size-12xl: 12rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;
  --breakpoint-xs: 436px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #262626;
  background: #fafaf9;
  font-family: var(--font-inter), sans-serif;
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
